.post_button {
    background-color: #FFB44D;
    border: none;
    color: rgb(224, 223, 223);
    padding: 0.7% 9%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 7px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
.post_button:focus{
    outline: none;
}
.post_button:hover{
  outline: none;
  background-color: #FFB44D !important;
}
